{% extends 'base.html.twig' %}

{% block title %}Hello CategorieController!{% endblock %}

{% block body %}
    <style>
        /*.example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }*/
    </style>

    <div class="example-wrapper">
        <div class="categories-head">
            <h1>Instruments de musique</h1>
        </div>
        <section class="categories-category-section">
            <div class="categories-tiles-container">
        {% for instrument in instruments %}

                            <a href="/instrument/{{ instrument.id }}">
                                <div class="categories-tile" style="background-image: url('{{ instrument.picture }}')">
                                    <div class="filter"></div>
                                    <p>{{ instrument.name }}</p>
                                </div>
                            </a>

        {% endfor %}
            </div>
        </section>

        {#This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/Users/Windows 10/PhpstormProjects/Banger-Maker-symfony/banger_maker_symfony/src/Controller/CategorieController.php'|file_link(0) }}">src/Controller/CategorieController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/Users/Windows 10/PhpstormProjects/Banger-Maker-symfony/banger_maker_symfony/templates/categorie/index.html.twig'|file_link(0) }}">templates/categorie/index.html.twig</a></code></li>
    </ul>#}
    </div>
{% endblock %}
