{% extends 'base.html.twig' %}

{% block title %}Hello RiffController!{% endblock %}

{% block body %}

    {% block stylesheets %}

    {% endblock %}

    {% if app.user is defined and app.user is not null  %}
        <link rel="stylesheet" href="/css/riff-form.css">
        <h1>Créez votre plus gros banger!</h1>
        {{ form_start(form,{ 'attr' : { 'class': 'riffForm' } }) }}
        {#   Some inputs are hidden but used like custom file #}
        {{ form_row(form.name, { 'label': 'Le nom de votre meilleur son', 'attr' : { 'class': 'riffInput', 'placeholder': 'ex: Despacito 2' } }) }}
        <div class="riffDropdowns">
            {{ form_row(form.categorie, { 'label': 'Catégorie de musique', 'attr' : { 'class': 'riffInput riffSelect' } }) }}
            {{ form_row(form.instrument, { 'attr' : { 'class': 'riffInput riffSelect' } }) }}
        </div>
        <div class="riffInput-hidden">
            {{ form_row(form.customsongfile, { 'attr' : { 'class': 'riffInput' } }) }}
        </div>
        {{ form_row(form.description, { 'attr' : { 'class': 'riffInput', 'placeholder': 'ex: Découvrez Despacito 2, c\'est genre Despacito mais en mieux' } }) }}
        <input type="submit" class="btn btn-primary" id="hiddensubmit" value="Send">
        {{ form_end(form,  {'render_rest': false}) }}

        <script src="/js/banger-maker/package/node_modules/tone/build/Tone.js"></script>
        <script type="module" src="/js/banger-maker/widget.js"></script>
        <div id="playgroundcontainer">
        </div>


        <button id="addbutton" class="btn-accent">Créer <i class="fas fa-paper-plane"></i></button>
        <script>
            document.addEventListener("DOMContentLoaded", () => {
                document.getElementById("addbutton").addEventListener("click",()=>{
                    document.getElementById("form_customsongfile").value = JSON.stringify(window.song);
                    document.getElementById("hiddensubmit").click()

                })

                document.getElementById("form_instrument").addEventListener("change",()=>{
                    window.instrument = document.getElementById("form_instrument").value
                    document.getElementById("invisible-button-instr").click()

                })
            })
        </script>


    {% else %}
        <div class="playground-oops">
            <h1>Oops!</h1>
            <p>Vous ne pouvez pas composer sans être enregistré.</p>
            <p>Cliquez <a href="/login">ici</a> pour vous connecter ou <a href="/register">là</a> pour vous inscrire.</p>
        </div>



    {% endif %}

{% endblock %}
