{% extends 'base.html.twig' %}

{% block title %}Hello RiffController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
    <script src="/js/banger-maker/package/node_modules/tone/build/Tone.js"></script>
    <script type="module" src="/js/banger-maker/widget2.js"></script>
    <div id="playgroundcontainer">
    </div>
    {% if app.user is defined and app.user is not null  %}
        {{ form_start(form,{ 'attr' : { 'class': 'riffForm' } }) }}
        {{ form_row(form.note, { 'attr' : { 'class': 'riffInput riffSelect' } }) }}
        {{ form_row(form.commentaire, { 'attr' : { 'class': 'riffInput riffSelect' } }) }}

        <input type="submit" id="hiddensubmit" value="Send">


        {{ form_end(form,  {'render_rest': false}) }}
    {% else %}
        pour laisser une note il faut être connecté
    {% endif %}




    {{ riff.name }}
        <button class="playsong" value="{{ riff.customsongfile }}!{{ riff.getInstrument.Id }}">Play</button>
    <script>
        document.addEventListener("DOMContentLoaded",()=>{
            let playbuttons = document.querySelectorAll('.playsong')
            playbuttons.forEach((e)=>{
                e.addEventListener("click",()=>{
                    window.songtoplay = JSON.parse(e.value.split("!")[0])
                    window.instrument = e.value.split("!")[1]
                    console.log(e.value.split("!")[1])
                    document.getElementById("invisible-button-instr").click()

                    setTimeout(()=>{document.getElementById("invisible-button-play").click()}, 100);

                })
            })
        })
    </script>

    {% for note in notes %}
        <div>{{ note.author}}</div>
        <div>{{ note.commentaire}}</div>
        <div>{{ note.note}}</div>
    {% endfor %}
{% endblock %}
