{% extends 'base.html.twig' %}

{% block title %}Hello CategorieController!{% endblock %}

{% block body %}
<div style="background-image: url(img/loginBackground.jpg); background-size: cover; background-repeat: no-repeat; height: 100%;">
<style>
    /*.example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }*/
</style>

<div class="example-wrapper">
    <div class="categories-head">
        <h1>Catégories de musique</h1>
    </div>

    {% for category in categories %}
        <section class="categories-category-section">
            <h2>{{ category.name }}</h2>
            <div class="categories-tiles-container">
                <a href="/categorie/{{ category.id }}">
                    <div class="categories-tile" style="background-image: url('{{ category.picture }}')">
                        <div class="filter"></div>
                        <p>Tous les type de {{ category.name }}</p>
                    </div>
                </a>
            {% if category.sousCategories is defined and category.sousCategories is not null %}
                {% for cat in category.sousCategories %}
                    <a href="/categorie/{{ cat.id }}">
                        <div class="categories-tile" style="background-image: url('{{ cat.picture }}')">
                            <div class="filter"></div>
                            <p>{{ cat.name }}</p>
                        </div>
                    </a>
                {% endfor %}
            {% endif %}
            </div>
        </section>
    {% endfor %}

    {#This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/Users/Windows 10/PhpstormProjects/Banger-Maker-symfony/banger_maker_symfony/src/Controller/CategorieController.php'|file_link(0) }}">src/Controller/CategorieController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/Users/Windows 10/PhpstormProjects/Banger-Maker-symfony/banger_maker_symfony/templates/categorie/index.html.twig'|file_link(0) }}">templates/categorie/index.html.twig</a></code></li>
    </ul>#}
</div>
</div>
{% endblock %}
